#
# Fingerprint sensor configuration
#
menuconfig INPUT_FINGERPRINT
	bool "Fingerprint sensors"
	help
	  Say Y here, and a list of supported fingerprint sensors will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say N.

if INPUT_FINGERPRINT

source "drivers/input/fingerprint/fpc_fod/Kconfig"
source "drivers/input/fingerprint/fpc_tee/Kconfig"
source "drivers/input/fingerprint/goodix/Kconfig"
source "drivers/input/fingerprint/goodix_fod/Kconfig"

endif
